:global(.terminalCommandOutput) {
  & dt {
    color: var(--text-glow-color);
    text-shadow: 0 0 4px var(--text-glow-color);
  }

  & dd {
    margin-inline-start: 20px;
  }

  & dd:not(:last-child) {
    margin-block-end: 0.3em;
  }

  & dd::before {
    content: "- ";
  }

  & ul {
    margin-top: 0;
  }
}
