.textHeader {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: monospace;
  display: block;
  color: var(--color-header-text);
  text-shadow: 0 0 5px var(--color-header-text);
  margin-bottom: 20px;
}

.textSubHeader {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: var(--font-ubuntu);
  display: block;
  color: var(--color-header-text);
  text-shadow: 0 0 5px var(--color-header-text);
  margin-bottom: 20px;
}

.textTerminal {
  font-size: 16px;
  line-height: 18px;
  white-space: pre-wrap;
  color: var(--color-terminal-text-primary);
}

.terminalGlow {
  color: var(--color-terminal-glow);
  text-shadow: 0 0 4px var(--color-terminal-glow);
}

@media only screen and (max-width: 900px) {
  .textHeader {
    font-size: 8px;
    line-height: 10px;
  }

  .textSubHeader {
    font-size: 8px;
    line-height: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .textHeader {
    font-size: 5px;
    line-height: 7px;
  }

  .textSubHeader {
    font-size: 6px;
    line-height: 8px;
  }

  .textTerminal {
    font-size: 14px;
    line-height: 16px;
  }
}
