.textHeader {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: monospace;
  display: block;
  color: var(--header-color);
  text-shadow: 0 0 5px var(--header-color);
  margin-bottom: 20px;
}

.textSubHeader {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: var(--font-ubuntu);
  display: block;
  color: var(--header-color);
  text-shadow: 0 0 5px var(--header-color);
  margin-bottom: 20px;
}

.textTerminal {
  font-size: 16px;
  line-height: 18px;
  white-space: pre-wrap;
  color: var(--terminal-color);
}

.terminalGlow {
  color: var(--text-glow-color);
  text-shadow: 0 0 4px var(--text-glow-color);
}

@media only screen and (max-width: 900px) {
  .textHeader {
    font-size: 8px;
    line-height: 10px;
  }

  .textSubHeader {
    font-size: 8px;
    line-height: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .textHeader {
    font-size: 5px;
    line-height: 7px;
  }

  .textSubHeader {
    font-size: 6px;
    line-height: 8px;
  }

  .textTerminal {
    font-size: 14px;
    line-height: 16px;
  }
}
